#searchResult{
  @include grey-color(100%, 0, 'false');
  .item{
    @include grey-color(100%, 0, 'false');
    &.odd{
      @include grey-color(95%, 0, 'false');
    }
    >a{
      padding:20px;
      position:relative;
      &:hover{
        background:#e6e6e6;
      }
      .ico-new{
        position:absolute;
        right:12px;
        top:12px;
        color:#b3b3b3;
        font:{
          size:3em;
        }
      }
      span{
        display:inline-block;
        &.icon{
          margin-right:5px;
          width:16px;
          height:24px;
          line-height:24px;
          vertical-align:top;
          color:$color-no-grey;
          font:{
            size:1.2em;
          }
        }
        &.label{
          width:177px;
        }
      }
      display:block;
      .storeName{
        @extend %text;
        color:#2c2c2c;
        display:inline-block;
        line-height:1.2em;
        margin-bottom:0.5em;
        vertical-align:top;
        font:{
          size:$f-10;
          family:$font-bold;
        }
        .icon{
          height:auto;
          line-height:1em;
          font:{
            size:1.5em;
          }
          &:before{
            vertical-align:top;
          }
        }
      }
      .storeAddress{
        padding-left:21px;
        color:#767470;
        line-height:1.4em;
        margin-bottom:0.2em;
        font:{
          size:$f-12;
        }
      }
      .storePhone{
        margin-bottom:0.2em;
        color:#767470;
        font:{
          size:$f-14;
        }
        .icon{
          line-height:26px;
          &:before{
            vertical-align:top;
          }
        }
      }
      .storeDistance{
        color:#2c2c2c;
        padding-left:21px;
        @extend %text;
        font:{
          size:$f-10;
          family:$font-bold;
        }
      }
    }
  }
}