#toolbar{
  width:280px;
  z-index:999;
  position:absolute;
  top:100px;
  left:20px;
  background:#fff;
  @include border-radius(3px);
  @include at-breakpoint($phone){
    background:none;
    @include border-radius(0);
    position:relative;
    top:0;
    left:0;
    width:100%;
    overflow: hidden;
    z-index:9;
    &.open-content{
      z-index:999;
    }
  }
  .toolbar-tabber{
    @include pie-clearfix;
    @include device-hide-element($phone);
    >li{
      @include span-columns(1,2);
      > a{
        @include grey-color(20%, 5, 'true');
        color:#fff;
        height:60px;
        line-height:60px;
        display:block;
        text-align:center;
        @extend %text;
        font:{
          size:$f-10;
        }
        &.current{
          @include grey-color(100%, 0, 'false');
          color:#2c2c2c;
          cursor:default;
        }
      }
      &:first-child{
        >a{
           @include border-top-left-radius(3px);
        }
      }
      &:last-child{
        >a{
          @include border-top-right-radius(3px);
        }
      }
    }
  }
  .toolbar-content{
    clear:both;
  }
  .search-wrapper{
    padding:22px 10px;
    clear:both;
    @include pie-clearfix;
    height:112px;
    @include at-breakpoint($phone){
      padding:0;
      height:40px;
    }
    .label{
      @include device-hide-element($phone);
      @extend %text;
      display:block;
      font:{
        size:$f-11;
      }
    }
    //only for smartphone
    .localized{
      @include device-show-element($phone);
      display:block;
      float:right;
      @include grey-color(40%, 5, 'false');
      cursor:pointer;
      width:40px;
      height:40px;
      line-height:40px;
      text-align:center;
      color:#fff;
      font:{
        family:$icon-font;
        size:1.5em;
      }
    }
    input{
      float:left;
      margin:0;
    }
    input[type="text"]{
      @include grey-color(87%, 5, 'false');
      width:215px;
      @include at-breakpoint($phone){
        width:auto;
        position:absolute;
        top:0;
        right:0;
        left:0;
        margin-right:80px;
        height:40px;
      }
    }
    input[type="submit"]{
      @extend %btn-bgcolor;
      cursor:pointer;
      border:none;
      width:45px;
      height:44px;
      color:#fff;
      text-align:center;
      padding:0;
      font:{
        family:$icon-font;
        size:$f-15;
      }
      @include at-breakpoint($phone){
        float:right;
        width:40px;
        height:40px;
      }
    }
  }
  #content{
    width:100%;
    overflow:hidden;
    position:relative;
    @include at-breakpoint($phone){
      //visibility:hidden;
      >div{
        @include at-breakpoint($phone){
          position: absolute;
          -webkit-transform: translateX(100%);
          @include transition(-webkit-transform .3s ease-in-out);
          &.open{
            -webkit-transform: translateX(0);
          }
        }
      }
    }
    #wrapSearchResult{
      overflow:auto;
      width:100%;
      @include at-breakpoint($phone){
        background:url(../images/bg-list-mobile.jpg) 0 0 repeat;
      }
    }
    #wrapFilterList{
      @include at-breakpoint($phone){
        background:url(../images/bg-list-mobile.jpg) 0 0 repeat;
        top:0;
        position:relative;
        z-index:999;
      }
      #auxFilterList{
        overflow:auto;
      }
      //@include grey-color(100%, 0, 'false');
      width:100%;
    }
  }
  .action-bar{
    @include device-hide-element($phone);
    > a, >button{
      cursor:pointer;
      border:none;
      @include transition(background 0.3s ease-out);
      @include span-columns(1,1);
      @include border-bottom-left-radius(3px);
      @include border-bottom-right-radius(3px);

      @extend %btn-bgcolor;
      color:#fff;

      height:60px;
      line-height:60px;
      display:block;
      text-align:center;

      @extend %text;
      font:{
        size:$f-10;
      }
      position:relative;
      .icon-filter{
        color:#fff;
        font:{
          size:2.2em;
        }
        @include set-icon($open-filter);
      }
      &.active{
        .icon-filter{
        color:#fff;
        font:{
          size:2.2em;
        }
          @include set-icon($close-filter);
        }
      }
    }
  }
  &.direction-opened{
    .action-bar{
      > button{
        @include border-bottom-left-radius(0);
        @include border-bottom-right-radius(0);
      }
    }
  }
  .direction-content{
    display:none;
    @include at-breakpoint($phone){
      display:none!important;
    }
    .direction{
      padding:20px;
      .direction-action{
        @include pie-clearfix;
        .label{
          padding:0 0 8px;
          @extend %text;
          display:block;
          font:{
            size:$f-11;
          }
        }
        .travel-modes{
          float:left;
          >li{
            float:left;
            >a{
              display:block;
              width:44px;
              height:44px;
              line-height:44px;
              text-align:center;
              @include grey-color(94%, 5, 'false');
              color:#4d4d4d;
              &.active{
                background:$color-no-grey;
              }
              &.disabled{
                @include opacity(0.5);
                cursor:default;
                &:hover{
                  background:#f2f2f2;
                }
              }
            }
          }
        }
        .address-flip{
          float:right;
          cursor:pointer;
          @include grey-color(94%, 5, 'false');
          @include transition(background 0.3s ease-out);
          border:none;
          width:45px;
          height:44px;
          color:#4d4d4d;
          font:{
            family:$icon-font;
            size:$f-15;
          }
        }
      }
      .addresses-list{
        clear:both;
        padding:20px 0 0;
        >li{
          @include pie-clearfix;
          >label{
            float:left;
            width:45px;
            height:44px;
            line-height:44px;
            text-align:center;
            cursor:pointer;
            @extend %text;
            letter-spacing:0;
            @include transition(background 0.3s ease-out);
            @include grey-color(50%, 5, 'false');
            color:#fff;
          }
          input[type="text"]{
            float:left;
            width:195px;
            margin:0;
          }
          &:first-child{
            margin:0 0 15px 0;
          }
        }
      }
    }
  }
}

.filterList{
  >li{
    border-bottom:2px solid #333;
    @include grey-color(25%, 0, 'false');
    >a{
      display:block;
      height:90px;
      line-height:90px;
      padding:0 28px;

      @include grey-color(30%, 5, 'false');
      color:#fff;

      @extend %text;
      font:{
        size:$f-11;
      }
      .check{
        color:#838486;
        width:24px;
        margin-right:10px;
        font:{
          size:2em;
        }
        @include set-icon($filter-off);
      }
      &.active{
        background:#404040;
        .check{
          color:$color-no-grey;
          @include set-icon($filter-on);
        }
      }
    }
  }
}
#wrapSearchResult,#wrapFilterList{
  position:relative;
  z-index:1;
  //overflow:hidden;
}



///////////
//direction
///////////
#directions-panel{
  font-size:12px;
  width:100%;
  line-height:1.5em;
  padding-bottom:25px;
  .adp-summary{
  	padding:5px 20px;
  }
  .adp-legal{
    padding-left:10px;
  }
  .adp-placemark{
  	border:none;
  	font-size:16px;
    margin-top:0;
    width: 100%;
  	td{
  		padding:0 10px
  	}
  	td.adp-text{
  		padding:15px 10px 15px 0;
  	}
  	.adp-text{
      @extend %text;
      display:block;
      font:{
        size:$f-11;
      }
  	}
  }
  .adp-substep{
  	padding:.5em 3px;
  	div{
  		margin-top:3px;
  		&.adp-distance, &.adp-maneuver, &.adp-stepicon{
  			margin-top:0;
  		}
      font:{
        family:$font-serif;
      }
      text-transform:none;
      letter-spacing:0;
      color:#767472;
      line-height:1.4em;
    }
  }
}
#direction-panel-scroller{
  width:100%;
  overflow:hidden;
  position:relative;

}
#directions-panel .adp-substep .adp-stepicon .adp-maneuver{
  background-image:url(../images/maneuvers-1x.png);
}



//,obile close filter
.close-filter{
  @include device-show-element($phone);
  height:40px;
  line-height:40px;
  width:100%;
  display:block;
  text-transform:uppercase;
  color:#2c2c2c;
  padding-left:1em;
  position:absolute;
  top:0;
  left:100%;
  &.open{
    left:0;
  }
  @include grey-color(100%, 5, 'false');
  font:{
    family:$font-semibold;
    size:$f-15;
  }
  &:hover{
    .close{
      background:#ccc;
    }
  }
  .close{
    background:#d9d9d9;
    float:right;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
  }
}

//btn-filter-mobile
.btn-filter-mobile{
  @include device-show-element($phone);
  position:fixed;
  bottom:0;
  right:0;
  z-index:999;
  @extend %btn-bgcolor;
  color:#fff;

  width:100%;
  height:40px;
  line-height:40px;
  display:block;
  text-align:center;

  @extend %text;
  font:{
    size:$f-10;
  }
  .icon-filter{
    color:#fff;
    font:{
      size:2.2em;
    }
    @include set-icon($open-filter);
  }
}