// ---------------------------------------------------------------------------
////////////////////
// Generic Variables
////////////////////


//font-size convert from px to em

$f-09 : 0.563em;
$f-10 : 0.625em;
$f-11 : 0.688em;
$f-12 : 0.75em;
$f-13 : 0.813em;
$f-14 : 0.875em;
$f-15 : 0.938em;
$f-16 : 1em;
$f-17 : 1.062em;
$f-18 : 1.125em;
$f-19 : 1.187em;
$f-20 : 1.25em;
$f-23 : 1.43em;
$f-28 : 1.75em;
$f-30 : 1.875em;
$f-40 : 2.5em;

//font-family

$font-regular : 'Proxima N W15 Reg';
$font-semibold: 'Proxima N W15 Smbd';
$font-bold : 'Proxima N W15 Bold';

$font-serif : Georgia;

$icon-font: 'IconFont';


//colors

$color-no-grey:#c69c6d;
$color-no-grey-hover:#b88d65;

%btn-bgcolor{
  background-color:$color-no-grey;
  &:hover{
    background-color:$color-no-grey-hover;
  }
}


// Brightness grey color , $b = % of brightness, $b-hover = increment of brightness in hover status, $lighten true/flase set the increment or decrement of brightness in hover status

@mixin grey-color ($b, $b-hover, $lighten){
  background-color: hsla(0, 0, $b, 1);
  @if $lighten == 'true' {
    &:hover{
      background-color: hsla(0, 0, $b + $b-hover, 1);
    }
  }@else{
    &:hover{
      background-color: hsla(0, 0, $b - $b-hover, 1);
    }
  }
  &.active{
    background-color: $color-no-grey;
  }
}


/////////////
//grid-layout
/////////////

//$grid-max-limit : 1280px;
//$grid-min-limit : 1024px;

//generic sprite-set

$sprite-set: sprite-map("sprite-set/*.png");

//////////////////////////
//mediaquery crossbrowser
//////////////////////////

//@mixin cross-mediaquery-grid-max-limit{
//  @media screen and (min-width: $grid-max-limit) {@content;}
//  .ie-mediaquery-max-limit & {@content;}
//}
//@mixin cross-mediaquery-grid-min-limit{
//  @media screen and (max-width: $grid-min-limit) {@content;}
//  .ie-mediaquery-min-limit & {@content;}
//}


//mixin== hide smartphone element
@mixin device-show-element($device){
  &.device-show{
    display:none;
  }
  @include at-breakpoint($device){
    &.device-show{
      display:block;
    }
  }
}

//mixin== hide smartphone element
@mixin device-hide-element($device){
  &.device-hide{
    display:block;
  }
  @include at-breakpoint($device){
    &.device-hide{
      display:none;
    }
  }
}


//loader

.loader{
  background:url(../images/loader.gif) 0 0 repeat;
  position:absolute;
  width:32px;
  height:32px;
  right:50%;
  top:50%;
  margin-top:-16px;
  margin-left:-16px;
  z-index:9;
}