{% block title %}Zegna Store locator{% endblock %}
{% block content %}
{% include "toolbar" %}
{% include "store-concept-preview" %}
<div id="storemap" data-baloon="324" ></div>
<!-- <a class="device-show btn-filter-mobile" href="#" title=""><span>Filter by brand</span><span class="icon-filter"></span></a> -->
{% endblock %}