{% layout "internalLayout" %}
{% block title %}Zegna Store locator Store Concept{% endblock %}
{% block content %}
<div class="storeConceptOuterWrap">
  <a href="#" class="close" data-icon="c"></a>
  <div class="storeConceptSlider sliderWrapper">
    <div class="loader"></div>
    <div class="slider js-dynamic-height">
      <ul class="innerSlider">
        <li class="slide js-dynamic-height" data-id="01" data-portrait="public/images/slides/01.jpg"><img src="public/images/slides/01-landscape.jpg"></li>
        <li class="slide js-dynamic-height" data-id="02" data-portrait="public/images/slides/02.jpg"><img src="public/images/slides/02-landscape.jpg"></li>
        <li class="slide js-dynamic-height" data-id="03" data-portrait="public/images/slides/01.jpg"><img src="public/images/slides/01-landscape.jpg"></li>
        <li class="slide js-dynamic-height" data-id="04" data-portrait="public/images/slides/02.jpg"><img src="public/images/slides/02-landscape.jpg"></li>
      </ul>
    </div>
    <div class="wrapInfo">
      <article class="info">
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      </article>
      <ul class="sliderPaginator">
        <li data-id="01"><a href="#" title="">01</a></li>
        <li data-id="02"><a href="#" title="">02</a></li>
        <li data-id="03"><a href="#" title="">03</a></li>
        <li data-id="04"><a href="#" title="">04</a></li>
      </ul>
    </div>
  </div>
  <section class="storeConceptWrap js-dynamic-height" id="mainContentWrapper">
    <div class="mainContent">
      <div class="storeConceptMobileHeader device-show">
        <img src="public/images/placeholder/store-concept.jpg" alt="">
      </div>
      <div class="mainContentWrap">
        <article>
          <h2 class="title">Store concept</h2>
          <p>   Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          <p>
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
          <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
          </p>
          <p>
            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.
          </p>
        </article>
        <div class="socialNav">
          <ul class="js-sharing sharing">
            <li class="facebook"><a href="#"></a></li>
            <li class="twitter"><a href="#"></a></li>
            <li class="pinterest"><a href="#"></a></li>
            <li class="gp"><a href="#"></a></li>
            <li class="email" href="#"><a data-subject="fondazione zegna object" data-body="fondazione zegna body"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}