{% layout "internalLayout" %}
{% block title %}Zegna Store locator Store Detail{% endblock %}
{% block content %}
<div class="storeInfoOuterWrap">
  <a class="goBack" href="#back" data-icon="x"></a>
  <div class="storeInfoSlider sliderWrapper">
    <div class="loader"></div>
    <div class="slider js-dynamic-height">
      <ul class="innerSlider">
        <li class="slide js-dynamic-height" data-id="01" data-portrait="public/images/slides/01.jpg"><img src="public/images/slides/01-landscape.jpg"></li>
        <li class="slide js-dynamic-height" data-id="02" data-portrait="public/images/slides/02.jpg"><img src="public/images/slides/02-landscape.jpg"></li>
        <li class="slide js-dynamic-height" data-id="03" data-portrait="public/images/slides/02.jpg"><img src="public/images/slides/01-landscape.jpg"></li>
        <li class="slide js-dynamic-height" data-id="04" data-portrait="public/images/slides/02.jpg"><img src="public/images/slides/01-landscape.jpg"></li>
        <li class="slide js-dynamic-height" data-id="05" data-portrait="public/images/slides/02.jpg"><img src="public/images/slides/02-landscape.jpg"></li>
        <li class="slide js-dynamic-height" data-id="06" data-portrait="public/images/slides/02.jpg"><img src="public/images/slides/02-landscape.jpg"></li>
        <li class="slide js-dynamic-height" data-id="07" data-portrait="public/images/slides/01.jpg"><img src="public/images/slides/01-landscape.jpg"></li>
      </ul>
    </div>
    <div class="outerWrapController">
      <a href="#" class="thumbsHide" data-icon="c"></a>
      <a href="#" class="thumbsShow" data-icon="c"></a>
      <div class="wrap-controller">
        <div class="progress-bar">
          <div class="current"></div>
        </div>
        <div class="wrap-thumbs">
          <ul class="thumb-list">
            <li class="thumb" data-id="01">
              <a href="#" class="thumb-link">
                <div class="overlay"></div>
                <img src="public/images/slides/thumb.jpg">
              </a>
            </li>
            <li class="thumb " data-id="02">
              <a href="#" class="thumb-link">
                <div class="overlay"></div>
                <img src="public/images/slides/thumb.jpg">
              </a>
            </li>
            <li class="thumb " data-id="03">
              <a href="#" class="thumb-link">
                <div class="overlay"></div>
                <img src="public/images/slides/thumb.jpg">
              </a>
            </li>
            <li class="thumb " data-id="04">
              <a href="#" class="thumb-link">
                <div class="overlay"></div>
                <img src="public/images/slides/thumb.jpg">
              </a>
            </li>
            <li class="thumb " data-id="05">
              <a href="#" class="thumb-link">
                <div class="overlay"></div>
                <img src="public/images/slides/thumb.jpg">
              </a>
            </li>
            <li class="thumb " data-id="06">
              <a href="#" class="thumb-link">
                <div class="overlay"></div>
                <img src="public/images/slides/thumb.jpg">
              </a>
            </li>
            <li class="thumb " data-id="07">
              <a href="#" class="thumb-link">
                <div class="overlay"></div>
                <img src="public/images/slides/thumb.jpg">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="storeInfoWrap js-dynamic-height" id="mainContentWrapper">
    <div class="mainContent">
      <ul class="breadcrumbs">
        <li><a href="#" title="">Asia / Honk kong</a></li>
        <li><span>Asia / Honk kong</span></li>
      </ul>
      <div class="mainContentWrap">
        <!-- <div class="storeInfoMobileHeader device-show">
          <img src="public/images/placeholder/store-concept.jpg" alt="">
        </div>
 -->        <div class="contentStore">
          <h2>ERMENEGILDO ZEGNA <br />GLOBAL STORE</h2>
          <p class="bransAwailable">Ermenegildo Zegna - Z Zegna - Zegna Sport - Made to Measure</p>
          <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
          <ul class="infoList">
            <li class="address">
              <span class="icon" data-icon="f"></span>
              <h3>Address</h3>
              <p>Shop G07, G/F, 1 Peking Road, Kowloon, Hong Kong</p>
            </li>
            <li class="phone">
              <span class="icon" data-icon="g"></span>
              <h3>Phone Number</h3>
              <p>+854 3417 3088</p>
            </li>
            <li class="email">
              <span class="icon" data-icon="h"></span>
              <h3>Email</h3>
              <p><a href="mailto:peking.hk@zegna.com">peking.hk@zegna.com</a></p>
            </li>
            <li class="timing">
              <span class="icon" data-icon="j"></span>
              <h3>Opening Hours</h3>
              <p>Monday - Thursday 10.30 am - 08.00 pm</p>
              <p>Friday - Saturday 10.30 am - 09.00 pm</p>
              <p>Sunday 10.30 am - 08.00 pm</p>
            </li>
            <li class="special">
              <span class="icon" data-icon="k"></span>
              <h3>Special Notifications</h3>
              <p>Friday 25th May, 2013 - INVENTORY CLOSURE</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="sideNav">
        <ul>
          <li><a href="#"><div class="icon direction" data-icon="a"><div class="arrow-right"></div></div><div class="linkText"><p>Get Directions</p></div></a></li>
          <li><a href="#"><div class="icon calendar" data-icon="s"><div class="arrow-right"></div></div><div class="linkText"><p>Request an appointment <span>- Made to Measure</span></p></div></a></li>
        </ul>
      </div>
      <div class="socialNav">
        <ul class="js-sharing sharing">
          <li class="facebook"><a href="#"></a></li>
          <li class="twitter"><a href="#"></a></li>
          <li class="pinterest"><a href="#"></a></li>
          <li class="gp"><a href="#"></a></li>
          <li class="email" href="#"><a data-subject="fondazione zegna object" data-body="fondazione zegna body"></a></li>
        </ul>
        <a class="foursquare fc-webicon" href="#">
          <span class="icon" data-icon="J"><span>Save on <br> foursquare</span></span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}